<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R9MK467MYK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-R9MK467MYK');
</script>
</head>
<body>
    <h2>Language Translator English to Hindi</h2>
    <form method="POST">
        <textarea name="data" placeholder="Enter Text"></textarea>
        <button type="submit">Translate</button>
    </form>

    <h4>Result</h4>
    {{translated_text}}
</body>
</html>